/* Mengatur ulang margin dan padding */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    padding: 0.5rem 1rem; /* Memberikan padding pada navbar */
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo-img-navbar {
    width: 32px; /* Ukuran logo lebih kecil */
    height: 32px;
}

.navbar-nav .nav-link {
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link svg {
    width: 20px;
    height: 20px;
}

.search-bar {
    width: 40%;
}



