body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #FBBA00;
}

.logo-img-navbar {
    width: 40px; 
    height: 40px; 
    object-fit: cover;
}

.search-bar {
    width: 50%;
}

.nav-link {
    font-size: 16px;
    color: #333;
    margin-right: 20px;
}

.nav-link i {
    margin-right: 5px;
}

.product-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.product-name {
    font-weight: bold;
    margin-top: 10px;
}

.product-price {
    color: #FBBA00;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; 
}
