body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.sidebar {
    width: 160px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-top: 20px;
    padding-left: 16px; 
    background-color: #FBBA00; 
}

.nav-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
    width: 100%;
}

.nav-icon {
    margin-right: 10px; 
    display: flex; 
    align-items: center; 
}

.nav-icon img {
    width: 24px; 
    height: 24px; 
}

.nav-link {
    color: #fff;
    font-size: 16px; 
    text-decoration: none; 
    display: flex;
    align-items: center; 
    padding-left: 16px; 
}



.logo-container {
    width: 80px; 
    height: 80px;
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-item .nav-link {
    color: #fff;
    padding: 10px 0;
    font-size: 16px; 
    text-align: center;
}

.nav-item .nav-link:hover {
    background-color: #333;
}

.content {
    margin-left: 220px; 
    padding-top: 20px;
    flex-grow: 1;
}

.navbar {
    background-color: #FBBA00;
}

.logo-img-navbar {
    width: 40px; 
    height: 40px; 
    object-fit: cover;
}

.search-bar {
    width: 50%;
}

.category-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #fff;
    border-radius: 15%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.category-button img {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 15%;
}

.category-button p {
    margin-top: 10px;
    font-weight: bold;
}

.category-button:hover {
    background-color: #f8f9fa;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.product-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.product-name {
    font-weight: bold;
    margin-top: 10px;
}

.product-price {
    color: #FBBA00;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; 
}
